h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: rgb(136, 18, 18);
    font-style: Helvetica;
    text-align: justify;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: rgb(136, 18, 18);
    font-style: Helvetica;
    text-transform: capitalize;
    text-align: justify;
}
p{
    text-align: justify;
    text-indent: 18px;
    color:rgb(136, 18, 18);
    font-style: Helvetica;

}
body { background-image: url("Capa\ Grande\ 2\ -\ \ Ster.jpeg")}